@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
::-webkit-scrollbar-track {
    border-radius: 9999rem;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: .25rem;
    height: .25rem;
    background-color: #4c4643;
}

::-webkit-scrollbar-thumb {
    border-radius: .2rem;
    background-color: #ca8a04;
}

.hover-scrollbar::-webkit-scrollbar {
    display: none;
}

.hover-scrollbar:hover::-webkit-scrollbar {
    display: unset;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

[contenteditable]:empty::before {
    color: grey;
}

[contenteditable][placeholder]:not([placeholder=""]):empty::before {
    content: attr(placeholder);
}

[background-image] {
    background-image: linear-gradient(to top, rgb(3 7 18 / .96) 100px, rgb(3 7 18 / .2)), url(/img/bg-main.png);
    background-position: center;
    background-size: cover;
}

[shadow] {
    box-shadow: rgb(25 25 25 / 30%) 0px 0px 10px 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (min-width: 1024px) {
    .lg\:min-w-100 {
        min-width: calc(100% - 260px);
    }
}

* {
    font-family: 'Cairo', sans-serif;
}

#calendar,
.fc-daygrid-week-number {
    color: #f9fafb !important;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border-color: #f9fafb !important;
}

.fc-button-group button {
    background-color: #ca8a04 !important;
    border-color: #4c4643 !important;
}

.fc-list-event:hover td {
    background-color: #ca8a04 !important;
}

.fc-list-day>* {
    background-color: #f1a602 !important;
}

.fc-button-primary:disabled {
    background-color: #634401 !important;
    border-color: #4c4643 !important;
}

.fc-button-primary {
    background-color: #8a5e01 !important;
    border-color: #4c4643 !important;
}

.fc-event-title-container,
.fc-h-event {
    background-color: #ca8a04 !important;
    border-color: #634401 !important;
    cursor: pointer !important;
}

.fc-list-event-dot {
    border-color: #ca8a04 !important;
}

.fc-view-harness {
    background-color: #4c4643 !important;
}

.max-h-100 {
    max-height: calc(100vh - 8rem);
}

@tailwind base;
@tailwind components;
@tailwind utilities;